@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom, #C7FFED, #D8FFDB);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #02353580;
    width: 600px;
    padding: 8px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #023535;
    text-shadow: 1px 1px 3px #02353586;
}

h2 {
    color: #015958;
}

p {
    text-align: justify;
}