@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
/*font-family: 'Passion One', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/*font-family: 'Sriracha', cursive;*/

/*

    ANOTAÇÕES
text-transform: uppercase; <-- DEIXA TODAS AS LETRAS MAIUSCULAS
font-variant: small-caps; <-- DEIXA TODAS AS LETRAS MAIUSCULAS, POREM A PRIMEIRA LETRA DE CADA PALAVRA FICA MAIOR QUE AS DEMAIS

*/

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-width: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {     
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vh;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vh;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(41, 41, 41);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.438);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.521);
    display: inline-block;
    padding: 4px;
    text-shadow: 1px 1px 0px black;
}

section#img001 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img002 {
    background-image: url(../imagens/background002.jpg);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}



